@font-face {
  font-family: "eliantoregular";
  src: url("/fonts/elianto-regular-webfont.woff2") format("woff2"),
    url("/fonts/elianto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eliantoregular";
  src: url("/fonts/elianto-regular-webfont.woff2") format("woff2"),
    url("/fonts/elianto-regular-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "eliantoregular";
  src: url("/fonts/elianto-regular-webfont.woff2") format("woff2"),
    url("/fonts/elianto-regular-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
