:root {
	--mr-1: 0 1px 0 0;
	--mr-2: 0 2px 0 0;
	--mr-3: 0 3px 0 0;
	--mr-4: 0 4px 0 0;
	--mr-5: 0 5px 0 0;
	--mr-6: 0 6px 0 0;
	--mr-7: 0 7px 0 0;
	--mr-8: 0 8px 0 0;
	--mr-9: 0 9px 0 0;
	--mr-10: 0 10px 0 0;
	// --mr-11: 0 11px 0 0;
	// --mr-12: 0 12px 0 0;
	// --mr-13: 0 13px 0 0;
	// --mr-14: 0 14px 0 0;
	// --mr-15: 0 15px 0 0;
	// --mr-16: 0 16px 0 0;
	// --mr-17: 0 17px 0 0;
	// --mr-18: 0 18px 0 0;
	// --mr-19: 0 19px 0 0;
	// --mr-20: 0 20px 0 0;
	// --mr-21: 0 21px 0 0;
	// --mr-22: 0 22px 0 0;
	// --mr-23: 0 23px 0 0;
	// --mr-24: 0 24px 0 0;
	// --mr-25: 0 25px 0 0;
	// --mr-26: 0 26px 0 0;
	// --mr-27: 0 27px 0 0;
	// --mr-28: 0 28px 0 0;
	// --mr-29: 0 29px 0 0;
	// --mr-30: 0 30px 0 0;
	// --mr-31: 0 31px 0 0;
	// --mr-32: 0 32px 0 0;
	// --mr-33: 0 33px 0 0;
	// --mr-34: 0 34px 0 0;
	// --mr-35: 0 35px 0 0;
	// --mr-36: 0 36px 0 0;
	// --mr-37: 0 37px 0 0;
	// --mr-38: 0 38px 0 0;
	// --mr-39: 0 39px 0 0;
	// --mr-40: 0 40px 0 0;
	// --mr-41: 0 41px 0 0;
	// --mr-42: 0 42px 0 0;
	// --mr-43: 0 43px 0 0;
	// --mr-44: 0 44px 0 0;
	// --mr-45: 0 45px 0 0;
	// --mr-46: 0 46px 0 0;
	// --mr-47: 0 47px 0 0;
	// --mr-48: 0 48px 0 0;
	// --mr-49: 0 49px 0 0;
	// --mr-50: 0 50px 0 0;

	--ml-1: 0 1px 0 0;
	--ml-2: 0 2px 0 0;
	--ml-3: 0 3px 0 0;
	--ml-4: 0 4px 0 0;
	--ml-5: 0 5px 0 0;
	--ml-6: 0 6px 0 0;
	--ml-7: 0 7px 0 0;
	--ml-8: 0 8px 0 0;
	--ml-9: 0 9px 0 0;
	--ml-10: 0 10px 0 0;
	// --ml-11: 0 11px 0 0;
	// --ml-12: 0 12px 0 0;
	// --ml-13: 0 13px 0 0;
	// --ml-14: 0 14px 0 0;
	// --ml-15: 0 15px 0 0;
	// --ml-16: 0 16px 0 0;
	// --ml-17: 0 17px 0 0;
	// --ml-18: 0 18px 0 0;
	// --ml-19: 0 19px 0 0;
	// --ml-20: 0 20px 0 0;
	// --ml-21: 0 21px 0 0;
	// --ml-22: 0 22px 0 0;
	// --ml-23: 0 23px 0 0;
	// --ml-24: 0 24px 0 0;
	// --ml-25: 0 25px 0 0;
	// --ml-26: 0 26px 0 0;
	// --ml-27: 0 27px 0 0;
	// --ml-28: 0 28px 0 0;
	// --ml-29: 0 29px 0 0;
	// --ml-30: 0 30px 0 0;
	// --ml-31: 0 31px 0 0;
	// --ml-32: 0 32px 0 0;
	// --ml-33: 0 33px 0 0;
	// --ml-34: 0 34px 0 0;
	// --ml-35: 0 35px 0 0;
	// --ml-36: 0 36px 0 0;
	// --ml-37: 0 37px 0 0;
	// --ml-38: 0 38px 0 0;
	// --ml-39: 0 39px 0 0;
	// --ml-40: 0 40px 0 0;
	// --ml-41: 0 41px 0 0;
	// --ml-42: 0 42px 0 0;
	// --ml-43: 0 43px 0 0;
	// --ml-44: 0 44px 0 0;
	// --ml-45: 0 45px 0 0;
	// --ml-46: 0 46px 0 0;
	// --ml-47: 0 47px 0 0;
	// --ml-48: 0 48px 0 0;
	// --ml-49: 0 49px 0 0;
	// --ml-50: 0 50px 0 0;

	--mt-1: 1px 0 0 0;
	--mt-2: 2px 0 0 0;
	--mt-3: 3px 0 0 0;
	--mt-4: 4px 0 0 0;
	--mt-5: 5px 0 0 0;
	--mt-6: 6px 0 0 0;
	--mt-7: 7px 0 0 0;
	--mt-8: 8px 0 0 0;
	--mt-9: 9px 0 0 0;
	--mt-10: 10px 0 0 0;
	// --mt-11: 11px 0 0 0;
	// --mt-12: 12px 0 0 0;
	// --mt-13: 13px 0 0 0;
	// --mt-14: 14px 0 0 0;
	// --mt-15: 15px 0 0 0;
	// --mt-16: 16px 0 0 0;
	// --mt-17: 17px 0 0 0;
	// --mt-18: 18px 0 0 0;
	// --mt-19: 19px 0 0 0;
	// --mt-20: 20px 0 0 0;
	// --mt-21: 21px 0 0 0;
	// --mt-22: 22px 0 0 0;
	// --mt-23: 23px 0 0 0;
	// --mt-24: 24px 0 0 0;
	// --mt-25: 25px 0 0 0;
	// --mt-26: 26px 0 0 0;
	// --mt-27: 27px 0 0 0;
	// --mt-28: 28px 0 0 0;
	// --mt-29: 29px 0 0 0;
	// --mt-30: 30px 0 0 0;
	// --mt-31: 31px 0 0 0;
	// --mt-32: 32px 0 0 0;
	// --mt-33: 33px 0 0 0;
	// --mt-34: 34px 0 0 0;
	// --mt-35: 35px 0 0 0;
	// --mt-36: 36px 0 0 0;
	// --mt-37: 37px 0 0 0;
	// --mt-38: 38px 0 0 0;
	// --mt-39: 39px 0 0 0;
	// --mt-40: 40px 0 0 0;
	// --mt-41: 41px 0 0 0;
	// --mt-42: 42px 0 0 0;
	// --mt-43: 43px 0 0 0;
	// --mt-44: 44px 0 0 0;
	// --mt-45: 45px 0 0 0;
	// --mt-46: 46px 0 0 0;
	// --mt-47: 47px 0 0 0;
	// --mt-48: 48px 0 0 0;
	// --mt-49: 49px 0 0 0;
	// --mt-50: 50px 0 0 0;

	--mb-1: 0 0 1px 0;
	--mb-2: 0 0 2px 0;
	--mb-3: 0 0 3px 0;
	--mb-4: 0 0 4px 0;
	--mb-5: 0 0 5px 0;
	--mb-6: 0 0 6px 0;
	--mb-7: 0 0 7px 0;
	--mb-8: 0 0 8px 0;
	--mb-9: 0 0 9px 0;
	--mb-10: 0 0 10px 0;
	// --mb-11: 0 0 11px 0;
	// --mb-12: 0 0 12px 0;
	// --mb-13: 0 0 13px 0;
	// --mb-14: 0 0 14px 0;
	// --mb-15: 0 0 15px 0;
	// --mb-16: 0 0 16px 0;
	// --mb-17: 0 0 17px 0;
	// --mb-18: 0 0 18px 0;
	// --mb-19: 0 0 19px 0;
	// --mb-20: 0 0 20px 0;
	// --mb-21: 0 0 21px 0;
	// --mb-22: 0 0 22px 0;
	// --mb-23: 0 0 23px 0;
	// --mb-24: 0 0 24px 0;
	// --mb-25: 0 0 25px 0;
	// --mb-26: 0 0 26px 0;
	// --mb-27: 0 0 27px 0;
	// --mb-28: 0 0 28px 0;
	// --mb-29: 0 0 29px 0;
	// --mb-30: 0 0 30px 0;
	// --mb-31: 0 0 31px 0;
	// --mb-32: 0 0 32px 0;
	// --mb-33: 0 0 33px 0;
	// --mb-34: 0 0 34px 0;
	// --mb-35: 0 0 35px 0;
	// --mb-36: 0 0 36px 0;
	// --mb-37: 0 0 37px 0;
	// --mb-38: 0 0 38px 0;
	// --mb-39: 0 0 39px 0;
	// --mb-40: 0 0 40px 0;
	// --mb-41: 0 0 41px 0;
	// --mb-42: 0 0 42px 0;
	// --mb-43: 0 0 43px 0;
	// --mb-44: 0 0 44px 0;
	// --mb-45: 0 0 45px 0;
	// --mb-46: 0 0 46px 0;
	// --mb-47: 0 0 47px 0;
	// --mb-48: 0 0 48px 0;
	// --mb-49: 0 0 49px 0;
	// --mb-50: 0 0 50px 0;
}
