:root {
	--pr-1: 0 1px 0 0;
	--pr-2: 0 2px 0 0;
	--pr-3: 0 3px 0 0;
	--pr-4: 0 4px 0 0;
	--pr-5: 0 5px 0 0;
	--pr-6: 0 6px 0 0;
	--pr-7: 0 7px 0 0;
	--pr-8: 0 8px 0 0;
	--pr-9: 0 9px 0 0;
	--pr-10: 0 10px 0 0;

	--pl-1: 0 0 0 1px;
	--pl-2: 0 0 0 2px;
	--pl-3: 0 0 0 3px;
	--pl-4: 0 0 0 4px;
	--pl-5: 0 0 0 5px;
	--pl-6: 0 0 0 6px;
	--pl-7: 0 0 0 7px;
	--pl-8: 0 0 0 8px;
	--pl-9: 0 0 0 9px;
	--pl-10: 0 0 0 10px;

	--pt-1: 1px 0 0 0;
	--pt-2: 2px 0 0 0;
	--pt-3: 3px 0 0 0;
	--pt-4: 4px 0 0 0;
	--pt-5: 5px 0 0 0;
	--pt-6: 6px 0 0 0;
	--pt-7: 7px 0 0 0;
	--pt-8: 8px 0 0 0;
	--pt-9: 9px 0 0 0;
	--pt-10: 10px 0 0 0;

	--pb-1: 0 0 1px 0;
	--pb-2: 0 0 2px 0;
	--pb-3: 0 0 3px 0;
	--pb-4: 0 0 4px 0;
	--pb-5: 0 0 5px 0;
	--pb-6: 0 0 6px 0;
	--pb-7: 0 0 7px 0;
	--pb-8: 0 0 8px 0;
	--pb-9: 0 0 9px 0;
	--pb-10: 0 0 10px 0;
}
