/* Style the slider container */
.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* Style the slider */
.slider {
	perspective: 1000px;
	width: 300px;
	height: 400px;
	position: relative;
	margin-top: 20px;
}

/* Style individual slides */
.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: transform 0.5s ease;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform-origin: center center -150px;
	border-radius: 5px;
	z-index: 1;
}

/* Style astronaut images */
.craft-image {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px; /* Adjust the size as needed */
	height: auto;
	cursor: pointer;
	transition: transform 0.5s ease;
	z-index: 3;
}

.craft-image:hover {
	transform: scale(1.1); /* Add a slight scale effect on hover */
}

/* Style slide content */
.slide-content {
	padding: 20px;
	text-align: center;
	position: relative;
	z-index: 2;
	color: #333;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0 0 5px 5px;
}

/* Style active slide */
.active {
	transform: translateZ(0);
	z-index: 4;
}

/* Style navigation buttons */
.prev-button,
.next-button {
	margin-top: 20px;
	cursor: pointer;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	position: relative;
	z-index: 5;
}

.prev-button {
	margin-right: 10px;
}

.prev-button:hover,
.next-button:hover {
	background-color: #0056b3;
}

/* Style the craft panel */
.craft-panel {
	position: absolute;
	top: 25%;
	right: 2%;
	width: 300px; /* Adjust the panel width as needed */
	background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent dark background */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 6; /* Ensure the craft panel is above other elements */
	transform: translateY(-50%); /* Center the panel vertically */
	opacity: 0; /* Start with 0 opacity */
	transition: opacity 0.3s ease;
	color: white;
}

/* Style the craft image within the craft panel */
.craft-panel img {
	max-width: 150px; /* Adjust the image size as needed */
	max-height: 150px; /* Adjust the image size as needed */
	border-radius: 50%; /* Make the image circular */
	margin-bottom: 10px;
}

/* Style the craft panel when it is visible */
.craft-panel.active {
	opacity: 1; /* Show the panel with full opacity */
}

/* Add hover effect for craft image */
.craft-image:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}
