.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.slider {
		perspective: 1000px;
		width: 300px;
		height: 400px;
		position: relative;
	}

	.slide {
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: transform 0.5s ease;
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		transform-origin: center center -150px;
		border-radius: 5px;
	}

	.slide img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 5px 5px 0 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: z-index 0.5s ease; /* Add a transition for z-index */
	}

	.slide-content {
		padding: 10px;
		text-align: center;
		position: relative;
		z-index: 1; /* Ensure content is on top */
	}

	.active {
		transform: translateZ(0);
	}

	.prev-button,
	.next-button {
		margin-top: 20px;
		cursor: pointer;
		padding: 10px 20px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		font-size: 16px;
	}

	.prev-button {
		margin-right: 10px;
	}

	.prev-button:hover,
	.next-button:hover {
		background-color: #0056b3;
	}

	// Apply 360-degree rotation for 13 images
	@for $i from 1 through 13 {
		.slide:nth-child(#{$i}) {
			transform: rotateY(#{(360 / 13) * ($i - 1)}deg) translateZ(300px);
			z-index: #{14 - $i}; /* Adjust the z-index for the front image */
		}
	}
}
