.planet-page {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px;
	background: linear-gradient(to bottom, #0a192f, #161b33);
	box-shadow: 0 40px 100px rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	overflow: hidden;
	transition: transform 0.4s, box-shadow 0.4s, background-color 0.4s;
	animation: scaleIn 1s ease;

	&:hover {
		transform: translateY(-25px);
		box-shadow: 0 60px 120px rgba(0, 0, 0, 0.8);
	}

	.page-title {
		color: #f39c12;
		font-size: 5rem;
		margin: 20px 0;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 6px;
		padding-top: 20px;
		border-bottom: 6px solid #f39c12;
		transition: color 0.4s;
		animation: fadeInUp 1s ease;
	}

	.planet-dropdown {
		text-align: center;

		label {
			font-weight: bold;
			font-size: 2.5rem;
			color: #f39c12;
			margin-right: 10px;
			transition: color 0.3s, font-size 0.3s;
			font-family: "Arial", sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.custom-dropdown {
			display: inline-block;
			position: relative;
			width: 240px;
			margin-top: 15px;

			.selected-planet {
				width: 120px;
				height: 120px;
				border-radius: 50%;
				overflow: hidden;
				position: relative;
				transition: transform 0.3s;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					cursor: pointer;
					transition: transform 0.3s;

					&:hover {
						transform: scale(1.05);
					}
				}
			}

			select {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;
				z-index: 2;
				transition: opacity 0.3s, transform 0.3s;
				transform-origin: center bottom;

				&:hover + .selected-planet img {
					transform: scale(1.05);
				}

				option {
					background-color: transparent;
					border: none;
					padding: 0;
					cursor: pointer;
				}
			}
		}

		&:hover {
			label {
				color: #e74c3c;
				font-size: 2.7rem;
			}

			.selected-planet img {
				transform: scale(1.05);
			}

			select {
				opacity: 1;
				transform: translateY(-5px);
			}
		}
	}

	.planet-data-container {
		text-align: center;
		.planet-details {
			margin-bottom: 40px;
			.planet-name {
				font-size: 5rem;
				font-weight: bold;
				color: #f39c12;
				margin-bottom: 30px;
				text-transform: uppercase;
				letter-spacing: 6px;
				transition: color 0.3s;
			}
			.planet-image {
				position: relative;
				height: 400px;
				width: 400px;
				border-radius: 20px;
				overflow: hidden;
				box-shadow: 0 16px 40px rgba(0, 0, 0, 0.8);
				border: 6px solid #fff;
				transition: transform 0.3s, box-shadow 0.3s;
				img {
					width: 100%;
					height: auto;
					object-fit: cover;
					transition: transform 0.3s;
					&:hover {
						transform: scale(1.05);
					}
				}
			}
			.details {
				margin-top: 40px;
				.detail-item {
					display: flex;
					justify-content: space-between;
					margin-bottom: 25px;
					font-size: 2.2rem;
					strong {
						font-weight: bold;
						color: #e74c3c;
						transition: color 0.3s;
					}
					span {
						font-weight: normal;
					}
				}
			}
		}

		.planet-agency-mission {
			h4 {
				font-size: 3.2rem;
				color: #e74c3c;
				margin-bottom: 40px;
				text-transform: uppercase;
				letter-spacing: 4px;
				transition: color 0.3s;
				font-family: "Arial", sans-serif;
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			}

			ul {
				list-style: none;
				padding: 0;
				li {
					margin-bottom: 50px;
					.agency {
						display: flex;
						align-items: center;
						margin-bottom: 40px;

						img {
							width: 160px;
							height: 160px;
							object-fit: cover;
							border-radius: 50%;
							margin-right: 40px;
							box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
							transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
							&:hover {
								transform: scale(1.1);
								box-shadow: 0 24px 60px rgba(0, 0, 0, 0.8);
								opacity: 0.9;
							}
						}

						strong {
							font-weight: bold;
							font-size: 2.5rem;
							color: #f39c12;
							transition: color 0.3s;
							font-family: "Georgia", serif;
							text-transform: uppercase;
						}

						.mission {
							font-size: 2.2rem;
							margin-top: 25px;
							color: #e74c3c;
							font-family: "Verdana", sans-serif;
							font-style: italic;
							text-decoration: underline;
							letter-spacing: 1px;
						}
					}
				}
			}
		}
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(50px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes scaleIn {
		from {
			transform: scale(0.95);
		}
		to {
			transform: scale(1);
		}
	}
}
