.iss-map-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

	h1 {
		font-size: var(--font-7);
		font-family: var(--font-elianto);
		letter-spacing: 3px;
		font-weight: 400;
		color: var(--cool-blue);
		margin-bottom: 0.5%;
		text-transform: uppercase;
		@media (max-width: $breakpoint-desktop) {
			font-size: var(--font-8);
		}
		@media (max-width: $breakpoint-phone) {
			font-size: var(--font-10);
			margin-bottom: 2%;
			margin-left: 5%;
			text-align: center;
		}
	}

	p {
		font-family: var(--font-roboto);
		font-size: var(--font-12);
		letter-spacing: 3px;
		font-weight: 400;
		// color: ;
		margin: 0.7% 0 0.1% 0;
		@media (max-width: $breakpoint-desktop) {
			font-size: var(--font-13);
		}
		@media (max-width: $breakpoint-phone) {
			font-size: var(--font-11);
			margin-bottom: 2%;
			// margin-left: 15%;
		}
	}
	.lat,
	.lon {
		color: var(--tertiary-accent);
	}
	.user-lat,
	.user-lon {
		color: var(--cool-yellow);
	}
	.distance {
		color: var(--white);
	}
	#map {
		width: 100%;
		height: 60vh;
	}
}

.loading-iss-location {
	position: relative;
	left: 35%;
	height: 100vh;
	width: 100vh;
	font-size: var(--font-6);
	font-family: var(--font-elianto);
	letter-spacing: 3px;
	font-weight: 400;
	color: var(--cool-blue);
	margin-bottom: 0.5%;
	text-transform: uppercase;

	@media (max-width: $breakpoint-phone) {
		left: 13%;
		top: 5%;
		font-size: var(--font-8);
	}
}
