.iss-map-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

	h1 {
		font-family: var(--font-elianto);
		font-size: var(--font-8);
		text-transform: uppercase;
		letter-spacing: 4px;
		background: linear-gradient(
			45deg,
			#ff7854,
			#fd267d,
			#4e7dfc,
			#27ae60,
			#ffc107,
			#e74c3c
		);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		transition: color 0.3s, background-position 0.3s;
		background-size: 200% 200%;
		animation: gradient-animation 3s linear infinite;
		@keyframes gradient-animation {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
		@media (max-width: #{$breakpoint-desktop-wide}) {
			font-size: var(--font-9);
		}
		@media (max-width: #{$breakpoint-desktop}) {
			font-size: var(--font-10);
		}
		@media (max-width: #{$breakpoint-large-tablet}) {
			font-size: var(--font-11);
		}
		@media (max-width: #{$breakpoint-tablet}) {
			text-align: center;
			font-size: var(--font-11);
			margin-top: 10%;
		}
		@media (max-width: #{$breakpoint-phone}) {
		}
	}

	p {
		font-family: var(--font-roboto);
		font-size: var(--font-12);
		letter-spacing: 3px;
		font-weight: 400;

		margin: 0.7% 0 0.1% 0;
		@media (max-width: $breakpoint-desktop) {
			font-size: var(--font-13);
		}
		@media (max-width: $breakpoint-phone) {
			font-size: var(--font-11);
			margin-bottom: 2%;
		}
	}
	.lat,
	.lon {
		color: var(--tertiary-accent);
	}
	.user-lat,
	.user-lon {
		color: var(--cool-yellow);
	}
	.distance {
		color: var(--white);
	}
	#map {
		width: 100%;
		height: 60vh;
	}
}

.loading-iss-location {
	position: relative;
	left: 35%;
	height: 100vh;
	width: 100vh;
	font-size: var(--font-6);
	font-family: var(--font-elianto);
	letter-spacing: 3px;
	font-weight: 400;
	color: var(--cool-blue);
	margin-bottom: 0.5%;
	text-transform: uppercase;

	@media (max-width: $breakpoint-phone) {
		left: 13%;
		top: 5%;
		font-size: var(--font-8);
	}
}
