.landing-container {
	@include flex-container(column, nowrap, center, center);
	.tab-nav {
		position: fixed;
		top: 0;
		left: 40%;
		background-color: transparent;
		z-index: 1;
		button {
			background-color: transparent;
			border: none;
			color: var(--white);
			padding: 10px 20px;
			border-radius: 20px;
			margin: 5px 5px 0 0;
			cursor: pointer;
			font-size: var(--font-12);
			font-family: var(--font-tektur);
			letter-spacing: 2px;
			transition: background-color 0.3s, color 0.3s, transform 0.3s ease-in-out;

			&:hover {
				background-color: var(--cool-orange);
				color: var(--white);
				transform: translate(2px, 2px);
			}

			&.active {
				background-color: var(--cool-orange);
				color: var(--white);
			}
			@media (max-width: $breakpoint-desktop-wide) {
				font-size: var(--font-13);
				padding: 8px 16px;
			}
			@media (max-width: $breakpoint-desktop) {
			}
			@media (max-width: $breakpoint-large-tablet) {
				font-size: var(--font-14);
				padding: 6px 12px;
			}
			@media (max-width: $breakpoint-tablet) {
			}
			@media (max-width: $breakpoint-phone) {
				font-size: var(--font-15);
				padding: 4px 8px;
			}
		}
		@media (max-width: #{$breakpoint-desktop-wide}) {
			left: 40%;
		}
		@media (max-width: #{$breakpoint-desktop}) {
			// left: 38%;
		}
		@media (max-width: #{$breakpoint-large-tablet}) {
			left: 35%;
		}
		@media (max-width: #{$breakpoint-tablet}) {
			// left: 38%;
		}
		@media (max-width: #{$breakpoint-phone}) {
			left: 30%;
		}
	}
}
.landing-page-sample-contents {
	@include flex-container(column, nowrap, center, center);
	h1 {
		font-family: var(--font-elianto);
		font-size: var(--font-8);
		text-transform: uppercase;
		letter-spacing: 4px;
		background: linear-gradient(
			45deg,
			#ff7854,
			#fd267d,
			#4e7dfc,
			#27ae60,
			#ffc107,
			#e74c3c
		);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		transition: color 0.3s, background-position 0.3s;
		background-size: 200% 200%;
		animation: gradient-animation 3s linear infinite;
		@keyframes gradient-animation {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
		margin: 3% 0 0 0;
		@media (max-width: #{$breakpoint-desktop-wide}) {
			font-size: var(--font-9);
			// margin: 0 0 0 0;
		}
		@media (max-width: #{$breakpoint-desktop}) {
			font-size: var(--font-10);
		}
		@media (max-width: #{$breakpoint-large-tablet}) {
			margin: 5% 0 0 1%;
			font-size: var(--font-11);
		}
		@media (max-width: #{$breakpoint-tablet}) {
			margin: 10% 0 0 1%;
			text-align: center;
			font-size: var(--font-12);
		}
		@media (max-width: #{$breakpoint-phone}) {
			margin: 12% 0 0 1%;
		}
	}
	span {
		letter-spacing: 4px;
		font-weight: 600;
		font-size: var(--font-8);
		text-transform: capitalize;
		font-family: var(--font-source);
		color: var(--cool-blue-2);
		@media (max-width: #{$breakpoint-desktop-wide}) {
			font-size: var(--font-9);
		}
		@media (max-width: #{$breakpoint-desktop}) {
			font-size: var(--font-10);
		}
		@media (max-width: #{$breakpoint-large-tablet}) {
			font-size: var(--font-11);
		}
		@media (max-width: #{$breakpoint-tablet}) {
			margin: 1% 0 0 1%;
			text-align: center;
			// font-size: var(--font-12);
		}
		@media (max-width: #{$breakpoint-phone}) {
			// font-size: var(--font-13);
		}
	}
	h5 {
		font-family: var(--font-tektur);
		font-size: var(--font-10);
		color: var(--cool-yellow);
		letter-spacing: 4px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0.5% 0 0.5% 0;
		@media (max-width: #{$breakpoint-desktop-wide}) {
			font-size: var(--font-11);
		}
		@media (max-width: #{$breakpoint-desktop}) {
			font-size: var(--font-12);
		}
		@media (max-width: #{$breakpoint-large-tablet}) {
			margin: 1% 0 1% 1%;
			text-align: center;
			font-size: var(--font-13);
		}
		@media (max-width: #{$breakpoint-tablet}) {
			font-size: var(--font-14);
		}
		@media (max-width: #{$breakpoint-phone}) {
		}
	}
	p {
		font-family: var(--font-roboto);
		letter-spacing: 3px;
		font-size: var(--font-10);
		color: var(--white);
		text-align: justify;
		line-height: 1.5;
		font-weight: 400;
		width: 70%;
		margin: 0.5% 0 0.5% 0;
		@media (max-width: #{$breakpoint-desktop-wide}) {
			font-size: var(--font-11);
		}
		@media (max-width: #{$breakpoint-desktop}) {
			font-size: var(--font-12);
		}
		@media (max-width: #{$breakpoint-large-tablet}) {
			text-align: center;
			font-size: var(--font-13);
		}
		@media (max-width: #{$breakpoint-tablet}) {
			font-size: var(--font-14);
		}
		@media (max-width: #{$breakpoint-phone}) {
		}
	}
}
