.landing-container {
	.tab-nav {
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 42%;
		z-index: 1;
		@media (max-width: #{$breakpoint-desktop}) {
		}
		@media (max-width: #{$breakpoint-phone}) {
		}
		button {
			background-color: transparent;
			border: none;
			color: var(--white);
			padding: 10px 20px;
			border-radius: 20px;
			margin: 5px 5px 0 0;
			cursor: pointer;
			font-size: var(--font-12);
			font-family: var(--font-tektur);
			letter-spacing: 2px;
			transition: background-color 0.3s, color 0.3s, transform 0.3s ease-in-out;

			&:hover {
				background-color: var(--cool-orange);
				color: var(--white);
				transform: translate(2px, 2px);
			}

			&.active {
				background-color: var(--cool-orange);
				color: var(--white);
			}
			@media (max-width: #{$breakpoint-phone}) {
				font-size: 14px;
				padding: 10px 10px;
				letter-spacing: 1px;
				font-weight: 500;
				&:hover {
					transform: none;
				}
				&.active {
					border-bottom: none;
				}
			}
		}
	}

	.content {
		margin: 0 25% 0 0;
	}
}
.landing-page-sample-contents {
	@include flex-container(column, wrap, center, center);
	h1 {
		font-family: var(--font-elianto);
		font-size: var(--font-6);
		text-transform: uppercase;
		letter-spacing: 4px;
		background: linear-gradient(
			45deg,
			#ff7854,
			#fd267d,
			#4e7dfc,
			#27ae60,
			#ffc107,
			#e74c3c
		);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		transition: color 0.3s, background-position 0.3s;
		background-size: 200% 200%;
		animation: gradient-animation 3s linear infinite;
		@keyframes gradient-animation {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
	}
	span {
		letter-spacing: 4px;
		font-weight: 600;
		font-size: var(--font-8);
		text-transform: capitalize;
		font-family: var(--font-source);
		color: var(--cool-blue-2);
	}
	h5 {
		font-family: var(--font-tektur);
		font-size: var(--font-10);
		color: var(--cool-yellow);
		letter-spacing: 4px;
		font-weight: 400;
		text-transform: uppercase;
	}
	p {
		font-family: var(--font-roboto);
		letter-spacing: 3px;
		font-size: var(--font-10);
		color: var(--white);
		text-align: justify;
		line-height: 1.6;
		font-weight: 400;
	}
}
