/* styles/global.scss */

.quiz-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// background-color: #f0f0f0;
	padding: 20px;
	// box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	.question-container {
		text-align: center;
		margin-bottom: 20px;

		.answer-options {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			.answer-option {
				width: 50%; /* Adjusted for better readability */
				padding: 10px;
				background-color: #007bff;
				color: #fff;
				border: none;
				border-radius: 5px;
				cursor: pointer;

				&:hover {
					background-color: #0056b3;
				}
			}
		}
	}

	.result {
		font-size: 24px;
		text-align: center;
		font-weight: bold;
		color: #007bff;
	}

	.timer {
		margin-top: 20px;
		font-weight: bold;
	}

	.progress-bar {
		margin-top: 10px;
		font-weight: bold;
	}

	.review-button {
		margin-top: 20px;
		padding: 10px 20px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			background-color: #0056b3;
		}
	}

	.review-questions {
		margin-top: 20px;

		li {
			margin-bottom: 10px;
		}
	}
}
