.solar-system-container {
	width: 100vw;
	height: 100vh;
}
.solar-sysytem-heading {
	position: absolute;
	top: 10%;
	left: 30%;
	font-family: var(--font-source);
	font-size: var(--font-7);
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: uppercase;
}
