.space-shooter-container {
	overflow: hidden;
	@media (max-width: $breakpoint-phone) {
		height: 100vh;
		width: 100vw;
	}
	h1 {
		position: relative;
		left: 23%;
		font-family: var(--font-elianto);
		font-size: var(--font-6);
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-bottom: 1%;
		background: linear-gradient(
			45deg,
			#ff7854,
			#fd267d,
			#4e7dfc,
			#27ae60,
			#ffc107,
			#e74c3c
		);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		transition: color 0.3s, background-position 0.3s;
		background-size: 200% 200%;
		animation: gradient-animation 3s linear infinite;
		@media (max-width: #{$breakpoint-desktop}) {
			font-size: var(--font-6);
			margin-bottom: 1.5%;
			left: 13%;
		}
		@media (max-width: #{$breakpoint-phone}) {
			font-size: var(--font-5);
			margin-bottom: 5%;
			padding-top: 10%;
		}
	}
	#sketch-container {
		@include flex-container(row, nowrap, center, center);
		position: relative;
		top: 0%;
		left: 30%;
		bottom: 0%;
		right: 0%;
		height: 80vh;
		max-height: 1200px;
		width: 90%;
		max-width: 800px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		@media (max-width: #{$breakpoint-desktop}) {
			left: 20%;
			top: 0%;
			height: 80vh;
			max-height: 1200px;
			width: 90%;
			max-width: 800px;
		}
		@media (max-width: #{$breakpoint-phone}) {
			display: none;
		}
	}

	canvas {
		border: 2px solid white;
	}
}
