canvas {
	background-color: #000; /* Set canvas background color to black */
	border: 1px solid #fff; /* Add a white border around the canvas */
	display: block;
	margin: 0 auto; /* Center the canvas horizontally */
}
