.articles {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(135deg, #1d1d1d, #090909);
	color: #f0f0f0;
	padding: 20px;
	font-family: "Poppins", sans-serif;
	width: 1400px;
	max-width: 100%;
	border-radius: 10px;
	h3 {
		font-family: var(--font-playfair);
		font-size: var(--font-7);
		letter-spacing: 6px;
		font-weight: 600;
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		color: var(--cool-red-2);
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 20px;

		li {
			background: linear-gradient(45deg, #333, #000);
			border: 2px solid var(--cool-red-2);
			border-radius: 15px;
			padding: 20px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
			transition: transform 0.3s, box-shadow 0.3s, background 0.3s;

			&:hover {
				transform: translateY(-5px);
				box-shadow: 0 12px 24px var(--black-shadow);
				background: linear-gradient(45deg, #292929, #111);
			}

			h4 {
				font-family: var(--font-source);
				font-size: var(--font-10);
				letter-spacing: 2px;
				font-weight: 400;
				margin-bottom: 10px;
				color: var(--cool-red-2);
				overflow: hidden;
				transition: max-height 0.3s;
			}

			.summary {
				font-family: var(--font-tektur);
				font-size: var(--font-12);
				letter-spacing: 3px;
				font-weight: 400px;
				margin: 10px 0;
				color: var(--white);
				opacity: 1;
				max-height: 120px;
				overflow: hidden;
				transition: max-height 0.3s;
			}

			a {
				font-family: var(--font-elianto);
				font-size: var(--font-13);
				text-decoration: none;
				letter-spacing: 3px;
				color: var(--cool-blue-2);
				margin: auto 0;
				transition: color 0.3s;
				display: block;

				&:hover {
					color: #ffcb69;
				}
			}

			.image-container {
				max-width: 100%;
				height: auto;
				margin-top: 15px;
				border-radius: 15px;
				box-shadow: 0 4px 8px var(--black-shadow);
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.01);
				}
			}

			.article-additional-details {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: auto;

				div {
					flex: 1;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 10px;

					p {
						font-size: 16px;
						margin: 5px 0;
						color: #f0f0f0;
						opacity: 0.8;
						max-height: 20px;
						overflow: hidden;
						transition: max-height 0.3s; /* Added transition for max-height */
					}

					span {
						font-size: 18px;
						font-weight: bold;
						color: var(--cool-red-2);
					}
				}
			}
		}
	}

	.none {
		display: none;
	}

	p {
		font-size: 24px;
		margin: 20px;
		color: #f0f0f0;
		opacity: 0.8;
	}

	.loading {
		font-size: 24px;
		margin: 20px;
		color: var(--cool-red-2);
	}
}
