.articles {
	background-color: #333333;
	border-radius: 40px;
	padding: 30px;
	width: 1200px;
	max-width: 100%;
	margin: 0 0 0 0;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	animation: slide-in 0.5s ease-in-out;
	@keyframes slide-in {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0);
		}
	}
	@media (max-width: $breakpoint-desktop-wide) {
	}
	@media (max-width: $breakpoint-desktop) {
	}
	@media (max-width: $breakpoint-large-tablet) {
	}
	@media (max-width: $breakpoint-tablet) {
	}
	@media (max-width: $breakpoint-phone) {
	}
	h3 {
		font-size: var(--font-7);
		font-family: var(--font-orbitron);
		letter-spacing: 6px;
		margin-bottom: 2%;
		font-weight: 500;
		color: var(--cool-red);
		text-align: center;
		@media (max-width: $breakpoint-desktop-wide) {
		}
		@media (max-width: $breakpoint-desktop) {
		}
		@media (max-width: $breakpoint-large-tablet) {
		}
		@media (max-width: $breakpoint-tablet) {
		}
		@media (max-width: $breakpoint-phone) {
		}
	}

	ul {
		@include flex-container(row, wrap, center, center);
		list-style: none;
		padding: 10px;

		li {
			@include flex-container(column, wrap, center, center);
			background-color: rgba(0, 0, 0, 0.9);
			border-radius: 50px;
			padding: 20px;
			margin-bottom: 2%;
			transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			cursor: default;
			border: 1px solid var(--white);
			&:hover {
				transform: translateY(-2px) scale(1.005);
				box-shadow: 0px 0px 8px var(--white-shadow);
			}
			@media (max-width: $breakpoint-desktop-wide) {
			}
			@media (max-width: $breakpoint-desktop) {
			}
			@media (max-width: $breakpoint-large-tablet) {
			}
			@media (max-width: $breakpoint-tablet) {
			}
			@media (max-width: $breakpoint-phone) {
			}

			.image-container {
				width: 700px;
				height: 400px;
				max-width: 100%;
				max-height: 100%;
				border-radius: 20px;
				overflow: hidden;
				margin: 1% 0 1% 0;
				@media (max-width: $breakpoint-desktop-wide) {
				}
				@media (max-width: $breakpoint-desktop) {
				}
				@media (max-width: $breakpoint-large-tablet) {
				}
				@media (max-width: $breakpoint-tablet) {
				}
				@media (max-width: $breakpoint-phone) {
				}
			}

			.launches,
			.events {
				text-align: center;
				margin-top: 20px;
				padding: 16px;
				background-color: #1e1e1e;
				border-radius: 12px;

				h6 {
					font-size: var(--font-11);
					font-family: var(--font-tektur);
					letter-spacing: 3px;
					font-weight: 400;
					margin-bottom: 12px;
					color: var(--cool-red-1);
				}

				ul {
					list-style: none;
					padding: 0;
					li {
						p {
							font-size: var(--font-11);
							line-height: 1.6;
							margin-bottom: 1.5%;
							font-family: var(--font-tektur);
							color: var(--cool-blue-2);
							letter-spacing: 6px;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}
