.blogs {
	background-color: #333333;
	color: var(--white);
	border-radius: 40px;
	padding: 20px;
	width: 1200px;
	max-width: 100%;
	margin: 0 0 0 2%;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	animation: slide-in 0.5s ease-in-out;
	@keyframes slide-in {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0);
		}
	}
	@media (max-width: $breakpoint-desktop-wide) {
		max-width: 80%;
		margin: 0 auto;
	}
	@media (max-width: $breakpoint-desktop) {
		max-width: 70%;
		margin: 0 auto;
	}
	@media (max-width: $breakpoint-large-tablet) {
		width: 900px;
		margin: 0 auto;
	}
	@media (max-width: $breakpoint-tablet) {
		width: 600px;
		margin: 0 auto;
	}
	@media (max-width: $breakpoint-phone) {
		width: 450px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 20px;
		margin-top: 0.5%;
	}
	h3 {
		font-size: var(--font-7);
		font-family: var(--font-tektur);
		letter-spacing: 6px;
		margin-bottom: 2%;
		font-weight: 600;
		color: var(--red);
		text-align: center;
		border-bottom: 2px solid var(--red);
	}

	ul {
		@include flex-container(row, wrap, center, center);
		list-style: none;
		padding: 5px;

		li {
			background-color: rgba(0, 0, 0, 0.9);
			border-radius: 30px;
			padding: 20px;
			margin-bottom: 2%;
			transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			cursor: pointer;
			&:hover {
				transform: translateY(-2px) scale(1.005);
				box-shadow: 0px 0px 8px var(--white-shadow);
			}

			h4 {
				font-size: var(--font-10);
				font-family: var(--font-tektur);
				color: var(--cool-blue-2);
				letter-spacing: 4px;
				margin-bottom: 2%;
				font-weight: 600;
				text-align: center;
			}

			p {
				font-size: var(--font-11);
				line-height: 1.5;
				font-family: var(--font-roboto);
				color: var(--white);
				letter-spacing: 1px;
				font-weight: 400;
				text-align: center;
			}

			a {
				color: #ffc107;
				text-decoration: none;
				line-height: 1.6;
				margin-bottom: 1.5%;
				letter-spacing: 2px;
				font-weight: 400;
				transition: color 0.2s;

				&:hover {
					color: lighten($color: #ffc107, $amount: 20%);
				}
			}

			img {
				max-width: 100%;
				max-height: 100%;
				margin-top: 2%;
				border-radius: 8px;
			}

			.launches,
			.events {
				text-align: center;
				margin-top: 20px;
				padding: 16px;
				background-color: #1e1e1e;
				border-radius: 12px;

				h6 {
					font-size: var(--font-11);
					font-family: var(--font-tektur);
					letter-spacing: 3px;
					font-weight: 400;
					margin-bottom: 12px;
					color: var(--cool-red-1);
				}

				ul {
					list-style: none;
					padding: 0;
					li {
						p {
							font-size: var(--font-11);
							line-height: 1.6;
							margin-bottom: 1.5%;
							font-family: var(--font-tektur);
							color: var(--cool-blue-2);
							letter-spacing: 6px;
							font-weight: 400;
						}
					}
				}
			}

			hr {
				margin-top: 20px;
				border: none;
				border-top: 1px solid #ffffff;
				&hover {
					border-top: 2px solid #111111;
				}
			}
		}
	}
}
