:root {
	--black: black;
	--white: white;
	--primary-color-1: linear-gradient(to bottom, #1e2a78, #4e7dfc);
	--primary-color-2: linear-gradient(to bottom, #6675d4, #2861ff);

	--panel-bg: #1e1e1e;
	--panel-txt: #ffffff;
	--primary-accent: #3498db;
	--secondary-accent: #27ae60;
	--tertiary-accent: #e74;
	--red: #e74c3c;
	--cool-blue: #4e7dfc;
	--cool-blue-2: #0044ff;
	--cool-yellow: #ffc107;
	--cool-red: #ff4d4d;
}
