// Global reset and normalization
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	content: none;
}

blockquote,
q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font-roboto);
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance: none;
	border: none;
	background: none;
	cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
