/* chatbot.scss */
.chat {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	transition: right 0.3s ease-in-out;
	width: 60px;
	height: 60px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&.open {
		right: 20px; /* Adjust the position when the chat is open */
	}

	&-icon {
		position: absolute;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&-panel {
		position: fixed;
		bottom: 20px;
		right: -360px; /* Set the panel outside of the viewport initially */
		z-index: 998;
		width: 360px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		transition: right 0.3s ease-in-out;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		&.open {
			right: 20px; /* Slide the panel into view when open */
		}

		.chat-title {
			background-color: #007bff;
			color: #fff;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h1 {
				margin: 0;
			}

			.close-button {
				background: none;
				border: none;
				cursor: pointer;
				color: #fff;

				&:hover {
					color: #ccc;
				}
			}

			h2 {
				font-size: 12px;
				margin: 0;
			}

			.avatar {
				margin-left: 10px;
				img {
					width: 20px;
					height: 20px;
					object-fit: contain;
					border-radius: 50%;
				}
			}
		}

		.messages {
			flex-grow: 1;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			.messages-content {
				padding: 10px;
				max-height: 300px;
				overflow-y: auto;

				.message {
					margin-bottom: 10px;
					padding: 5px;
					border-radius: 5px;
					&.message-personal {
						background-color: #007bff;
						color: #fff;
						align-self: flex-end;
					}
					&.message-new {
						background-color: #f1f0f0;
						color: #333;
					}
					&.message-loading {
						background-color: #f1f0f0;
						color: #333;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}

		.message-box {
			display: flex;
			justify-content: space-between;
			padding: 10px;

			.message-input {
				flex-grow: 1;
				border: none;
				padding: 10px;
				border-radius: 5px;
				margin-right: 10px;
				font-size: 14px;
				outline: none;
			}

			.message-submit {
				background-color: #007bff;
				color: #fff;
				border: none;
				border-radius: 5px;
				padding: 10px;
				cursor: pointer;
				outline: none;

				&:hover {
					background-color: #0056b3;
				}
			}
		}
	}
}
