.landing-navbar {
	.header-navbar {
		--header-height: 10%;
		@include flex-container(row, wrap, space-between, center);
		z-index: 100;
		width: 100%;
		height: var(--header-height);
		.header-logo {
			font-family: "eliantoregular";
			font-size: var(--font-7);
			cursor: pointer;
			margin-left: 20px;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 3px;

			&:active {
				transform: translateY(-2px);
			}
		}

		.header-menu {
			display: flex;
			align-items: center;
			@media (max-width: #{$breakpoint-phone}) {
				display: none;
			}

			.header-sub-menu {
				list-style: none;
				display: flex;
				gap: 0px;
				margin: 0;
				margin-right: 20px;
				li {
					margin-left: 40px;
					a {
						color: white;
						text-decoration: none;
						font-family: var(--font-roboto);
						letter-spacing: 2px;
						font-size: var(--font-13);
						font-weight: 300;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.header-panel {
			display: none;

			@media (max-width: #{$breakpoint-phone}) {
				position: fixed;
				top: var(--header-height);
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1000;
				backdrop-filter: blur(20px);

				&.active-panel {
					display: block;
				}

				&.inactive-panel {
					display: none;
				}
				.header-panel-sub-menu {
					display: flex;
					flex-direction: column;
					align-items: center;
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						position: relative;
						margin-bottom: 15px;
						padding: 25px;
						font-family: var(--font-roboto);
						font-weight: 400;
						letter-spacing: 2px;
						font-size: var(--font-7);
						color: white;
						&:first-child {
							margin-top: 50px;
						}
					}
				}
			}
		}
		.header-hamburger {
			cursor: pointer;
			margin-right: 20px;
			margin-bottom: 3px;
			display: flex;
			flex-direction: column;
			cursor: pointer;
			@media (min-width: #{$breakpoint-phone}) {
				display: none;
			}

			.hamburger-icon {
				height: 4px;
				width: 35px;
				padding: 0;
				margin: 3px 0;
				background-color: white;
				transition: 0.3s;
			}
		}
		.active-hamburger {
			.hamburger-icon {
				&:nth-child(1) {
					transform: rotate(45deg) translateX(39%);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translateX(39%);
				}
			}
		}
		span {
			padding: 10px;
			border-radius: 20px;
		}
		.active {
			background: linear-gradient(180deg, #64a4f7, rgb(89, 64, 255));
			color: #000000;
		}
	}
}
