.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: #11101d;
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;

	&.open {
		width: 250px;

		.logo-details {
			.logo-container {
				position: relative;
				height: 50px;
				width: 50px;
				object-fit: cover;
				border-radius: 12px;
				margin-right: 10px;
			}
			.logo-container,
			.logo_name {
				opacity: 1;
				transition: all 0.5s ease;
			}
			#btn {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%) translateX(40%);
				font-size: 40px;
				text-align: center;
				cursor: pointer;
				transition: all 0.5s ease;
			}
		}
	}

	.logo-details {
		height: 60px;
		display: flex;
		align-items: center;
		position: relative;

		.logo-container,
		.logo_name {
			opacity: 0;
			transition: all 0.5s ease;
		}

		#btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%) translateX(-10%);
			font-size: 40px;
			text-align: center;
			cursor: pointer;
			transition: all 0.5s ease;
		}
	}

	.nav-list {
		margin-top: 20px;
		height: 100%;

		li {
			position: relative;
			margin: 10px 0 0 0;
			list-style: none;

			a {
				display: flex;
				height: 100%;
				width: 100%;
				border-radius: 12px;
				align-items: center;
				text-decoration: none;
				transition: all 0.4s ease;
				background: #11101d;

				&:hover {
					background: #fff;
					color: black;
				}

				.image-container {
					position: relative;
					height: 50px;
					width: 50px;
					object-fit: cover;
					border-radius: 12px;
					margin-right: 2px;
				}
			}
		}
	}

	.profile {
		position: fixed;
		height: 90px;
		width: 78px;
		left: 0;
		bottom: -10px;
		padding: 10px 14px;
		background: #1d1b31;
		transition: all 0.5s ease;
		overflow: hidden;
		list-style-type: none;

		.profile-details {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			opacity: 0;
			transition: opacity 0.4s ease, transform 0.4s ease;
			.image-container {
				position: relative;
				height: 45px;
				width: 45px;
				object-fit: cover;
				border-radius: 6px;
				margin-right: 10px;
			}

			.name_job {
				opacity: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.name {
					font-size: 15px;
					font-weight: 400;
					color: #fff;
					white-space: nowrap;
				}

				.job {
					font-size: 12px;
					color: #fff;
				}
			}
		}
	}
	.profile-open {
		width: 250px;

		.profile-details {
			opacity: 1;
			transform: translateX(0);
		}
	}
	.profile-close {
		.profile-details {
			opacity: 1;
			.image-container {
				position: relative;
				height: 40px;
				width: 45px;
				object-fit: cover;
				border-radius: 6px;
				margin-right: 10px;
				margin-top: 10px;
			}
			.name_job {
				display: none;
			}
		}
	}
}
