@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: #11101d;
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;

	&.open {
		width: 250px;
	}

	.logo-details {
		height: 60px;
		display: flex;
		align-items: center;
		position: relative;

		.icon {
			opacity: 0;
			transition: all 0.5s ease;
		}

		.logo_name {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			opacity: 0;
			transition: all 0.5s ease;
		}

		&.open {
			.icon,
			.logo_name {
				opacity: 1;
			}
		}

		#btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			font-size: 22px;
			transition: all 0.4s ease;
			font-size: 23px;
			text-align: center;
			cursor: pointer;
			transition: all 0.5s ease;

			&.open {
				text-align: right;
			}
		}
	}

	i {
		color: #fff;
		height: 60px;
		min-width: 50px;
		font-size: 28px;
		text-align: center;
		line-height: 60px;
	}

	.nav-list {
		margin-top: 20px;
		height: 100%;

		li {
			position: relative;
			margin: 8px 0;
			list-style: none;

			.tooltip {
				position: absolute;
				top: -20px;
				left: calc(100% + 15px);
				z-index: 3;
				background: #fff;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
				padding: 6px 12px;
				border-radius: 4px;
				font-size: 15px;
				font-weight: 400;
				opacity: 0;
				white-space: nowrap;
				pointer-events: none;
				transition: 0s;
			}

			&:hover {
				.tooltip {
					opacity: 1;
					pointer-events: auto;
					transition: all 0.4s ease;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			&.open {
				.tooltip {
					display: none;
				}
			}
		}
	}

	input {
		font-size: 15px;
		color: #fff;
		font-weight: 400;
		outline: none;
		height: 50px;
		width: 100%;
		width: 50px;
		border: none;
		border-radius: 12px;
		transition: all 0.5s ease;
		background: #1d1b31;

		&.open {
			padding: 0 20px 0 50px;
			width: 100%;
		}

		.bx-search {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			font-size: 22px;
			background: #1d1b31;
			color: #fff;

			&.open:hover {
				background: #1d1b31;
				color: #fff;
			}

			&:hover {
				background: #fff;
				color: #11101d;
			}
		}
	}

	li a {
		display: flex;
		height: 100%;
		width: 100%;
		border-radius: 12px;
		align-items: center;
		text-decoration: none;
		transition: all 0.4s ease;
		background: #11101d;

		&:hover {
			background: #fff;
		}

		.links_name {
			color: #fff;
			font-size: 15px;
			font-weight: 400;
			white-space: nowrap;
			opacity: 0;
			pointer-events: none;
			transition: 0.4s;
		}

		&.open {
			.links_name {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&:hover .links_name,
		&:hover i {
			transition: all 0.5s ease;
			color: #11101d;
		}

		i {
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			border-radius: 12px;
		}
	}

	li.profile {
		position: fixed;
		height: 60px;
		width: 78px;
		left: 0;
		bottom: -8px;
		padding: 10px 14px;
		background: #1d1b31;
		transition: all 0.5s ease;
		overflow: hidden;

		&.open {
			width: 250px;
		}

		.profile-details {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			img {
				height: 45px;
				width: 45px;
				object-fit: cover;
				border-radius: 6px;
				margin-right: 10px;
			}

			.name,
			.job {
				font-size: 15px;
				font-weight: 400;
				color: #fff;
				white-space: nowrap;
			}

			.job {
				font-size: 12px;
			}
		}

		#log_out {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: #1d1b31;
			width: 100%;
			height: 60px;
			line-height: 60px;
			border-radius: 0px;
			transition: all 0.5s ease;

			&.open {
				width: 50px;
				background: none;
			}
		}
	}
}

.home-section {
	position: relative;
	background: #e4e9f7;
	min-height: 100vh;
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.5s ease;
	z-index: 2;

	&.open {
		left: 250px;
		width: calc(100% - 250px);
	}

	.text {
		display: inline-block;
		color: #11101d;
		font-size: 25px;
		font-weight: 500;
		margin: 18px;
	}
}

@media (max-width: 420px) {
	.sidebar li .tooltip {
		display: none;
	}
}
