.side-nav-container {
	background-color: var(--panel-bg);
	width: 270px;
	max-width: 15%;
	height: 100%;
	position: fixed;
	transition: 0.5s;
	&.side-nav-container-NX {
		width: 85px;
		max-width: 5%;
	}

	.nav-upper {
		position: relative;
		@include flex-container(row, wrap, center, center);
		.nav-heading {
			.nav-brand {
				display: flex;
				.logo-container {
					position: absolute;
					height: 150px;
					max-height: 25%;
					width: 150px;
					max-width: 60%;
					left: 15%;
					top: 15px;
				}
			}
			.heading-expanded {
				position: relative;
				// bottom: 72%;
				font-family: "eliantoregular";
				font-size: var(--font-6);
				text-transform: uppercase;
				letter-spacing: 5px;
				background: var(--primary-color-1);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				transition: all 0.5s;
				opacity: 1;
			}
			.heading-not-expanded {
				opacity: 0;
				background: var(--primary-color-1);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				transition: all 0.5s;
			}

			.hamburger {
				background: none;
				border: none;
				cursor: pointer;
				margin: auto;
				position: absolute;

				span {
					display: block;
					margin-top: 6px;
					background-color: var(--white);
					border-radius: 15px;
					height: 3.5px;
					width: 35px;
					transition: 0.6s;
				}

				&.hamburger-in:hover {
					span:nth-child(1) {
						width: 25px;
						transform: translateY(4px) rotate(-25deg);
						background-color: var(--cool-blue);
					}

					span:nth-child(2) {
						width: 40px;
						background-color: var(--cool-blue);
					}

					span:nth-child(3) {
						width: 25px;
						transform: translateY(-4px) rotate(25deg);
						background-color: var(--cool-blue);
					}
				}

				&.hamburger-out {
					margin-left: 24px;

					&:hover {
						span:nth-child(1) {
							width: 25px;
							transform: translate(14px, 4px) rotate(-155deg);
							background-color: var(--cool-blue);
						}

						span:nth-child(2) {
							width: 40px;
							background-color: var(--cool-blue);
						}

						span:nth-child(3) {
							width: 25px;
							transform: translate(14px, -4px) rotate(155deg);
							background-color: var(--cool-blue);
						}
					}
				}
			}
			.hamburger-in {
				left: 82%;
				top: 3%;
			}
			.hamburger-out {
				top: 2%;
			}
		}

		.nav-menu {
			top: 65%;
			gap: 7%;
		}
		.not-expanded-nav-menu {
			top: 7%;
			gap: 30px;
		}

		.menu-item {
			position: relative;
			height: 50px;
			display: flex;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: 10px;
			margin-top: 30px;
			&.menu-item-NX {
				margin: auto;
			}

			&:hover {
				background: var(--primary-1);
			}

			// .menu-item-icon {
			// 	width: 30px;
			// 	padding: 0 20px;
			// }
			// &:first-child {
			// 	margin-top: 350%;
			// }
		}
	}
}
