@import "vendors/manifest";
@import "base/manifest";
@import "utilities/manifest";
@import "mixins/manifest";
@import "layout/manifest";
@import "containers/manifest";
@import "components/manifest";
@import "pages/manifest";
@import "icons/manifest";

$background-color-1: #000000; // Dark black
$background-color-2: #030303; // Slightly lighter black
$background-color-3: #020202; // Deep black
$background-color-4: #040404; // Darker black

body {
	background: linear-gradient(
		135deg,
		$background-color-1 0%,
		$background-color-2 20%,
		$background-color-3 50%,
		$background-color-4 80%,
		$background-color-1 100%
	);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	position: relative;
	/* Add a subtle box-shadow to the body for depth */
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
