@import "vendors/manifest";
@import "base/manifest";
@import "utilities/manifest";
@import "mixins/manifest";
// @import "layout/manifest";
@import "containers/manifest";
@import "components/manifest";
@import "pages/manifest";
// @import "icons/manifest";

$background-color-1: #000000; // Dark black
$background-color-2: #030303; // Slightly lighter black
$background-color-3: #020202; // Deep black
$background-color-4: #040404; // Darker black

body {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    135deg,
    $background-color-1 0%,
    $background-color-2 20%,
    $background-color-3 50%,
    $background-color-4 80%,
    $background-color-1 100%
  );
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--white);
}
